<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Thapar Time Table</title>
    <meta name="title" content="Time Table Generator" />
    <meta
      name="description"
      content="Quick Time Table Generator for Thapar University Students"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://timetable.mlsctiet.com/" />
    <meta property="og:title" content="Time Table Generator" />
    <meta
      property="og:description"
      content="Quick Time Table Generator for Thapar University Students"
    />
    <meta
      property="og:image"
      content="https://www.utkarsh.ninja/favicon-32x32.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://timetable.mlsctiet.com/" />
    <meta property="twitter:title" content="Time Table Generator" />
    <meta
      property="twitter:description"
      content="Quick Time Table Generator for Thapar University Students"
    />
    <meta
      property="twitter:image"
      content="https://www.utkarsh.ninja/favicon-32x32.png"
    />
    <link
      rel="shortcut icon"
      href="https://www.utkarsh.ninja/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    
    <style>
      #contributors-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
      }

      #contributors-list .contributor-info {
        width: calc(50% - 20px); 
        margin: 10px; 
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; 
      }

      #contributors-list img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
      }

      #contributors-list a {
        color: #fff;
        text-decoration: none;
      }

      #contributors-list .contributor-info {
        font-size: 14px;
        color: #ccc;
        margin-top: 5px;
      }

    </style>
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSECP1SFQX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SSECP1SFQX');
</script>
  <body class="bg-dark">
    <style>
      *{
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
      }
      ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #494949;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      @media (max-width:576px){
        .form-group{
          text-align: center !important;
          display: flex;
          flex-direction: column ;
          justify-content: center;
          align-items: center;
      }
        #custom-card {
          width: 80% !important;
        }
      }
    </style>
    <header style="margin: 1rem auto;display: flex; flex-direction: row; justify-content: space-between;align-items:center; width:95vw;">
      <a class="left" href="https://github.com/utkarsh-1905/time-table/issues">
        <img alt="GitHub issues" src="https://img.shields.io/github/issues/utkarsh-1905/time-table?style=flat&logo=github">
      </a>
      <a class="right" href="https://github.com/utkarsh-1905/time-table">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/utkarsh-1905/time-table?style=flat&logo=github">
      </a>
    </header>
    <div class="container">
      <h3 style="text-align: center; margin: 2rem 0" class="text-success">
        Thapar University Time Table (2024 Odd Sem)
      </h3>
      <div
      id="custom-card"
        class="card text-white"
        style="
          width: 65%;
          display: flex;
          flex-direction: columns;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          margin: 0 auto;
          background-color: #222222;
          border: 0px;
        "
      >
        <form id="form">
          <div class="form-group mt-4" style="padding: 1rem; text-align: right;">
            <label for="sheets" class="category-label pb-2" >Category</label>
            <select name="sheets" id="sheets"  class="dropdown btn btn-secondary dropdown-toggle" style="margin-left: 1em !important; width: 200px">
              <option value="-1" class="default-sheet dropdown-item" selected>
                Select a Category
              </option>
              {{range .Sheets}}
              <option class="dropdown-item" value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>

          
          <div class="form-group" style="text-align: right;">
            <label for="classes" class="class-label">Class </label>
            <select
              name="classes"
              class="dropdown btn btn-secondary dropdown-toggle"
              id="classes"
              style="margin: 1rem; width: 200px"
            >
              <option value="-1" class="default-class" selected>
                Select a Class
              </option>
              {{range $a,$b := .Classes}}
              <optgroup label="{{$a}}">
                {{range $b}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
              </optgroup>
              {{end}}
            </select>
          </div>
          <div class="mb-3">
          <input
            type="submit"
            value="Get Schedule"
            class="btn btn-primary"
            style="margin-right: 1rem"
          />
        </form>
        <button class="btn btn-outline-secondary text-light save">
          Save Class
        </button>
      </div>
      <!-- remove the alert later on -->
      <div class="alert alert-success m-3" role="alert">Time Table for 2024 (EVEN SEM) is updated now!!</div>
        <div class="saved-urls container mb-4">
          <p class="text-lg" style="text-align: center; text-decoration: underline;">Saved Timetables</p>
          <ul class="saved-list bg-dark list-group"></ul>
        </div>
      </div>
    </div>
    <footer class="footer mt-2 mb-2 pb-2 pt-2 bg-dark">
      <p style="text-align: center" class="text-danger">
        Made by Utkarsh Tripathi &nbsp;
        <a href="https://github.com/utkarsh-1905" class="badge badge-success"
          >Github</a
        >
        <a
          href="https://www.linkedin.com/in/utkarsh-tripathi-80a0ab192/"
          class="badge badge-primary"
          >Linkedin</a
        >
        <a href="https://utkarssh.tech" class="badge badge-dark">Website</a>
      </p>
      </p>
      <p style="text-align: center;" class="text-warning">
        Project contributors
      </p>
      <ul id="contributors-list" class="contributors-list"></ul>
      </p>
    </footer>
    <script>
      async function fetchContributors() {
        try {
          const response = await fetch('https://api.github.com/repos/utkarsh-1905/time-table/contributors');
          const contributors = await response.json();
    
          const contributorsList = document.getElementById('contributors-list');
    
          contributors.forEach(contributor => {
            const listItem = document.createElement('li');
            listItem.innerHTML = `
              <a href="${contributor.html_url}" target="_blank" class="contributor-link">
              <img src="https://avatars.githubusercontent.com/${contributor.login}" alt="${contributor.login}" /></a>
              <a class="contributor-info" href="${contributor.html_url}" target="_blank">${contributor.login}</a>
            `;
            contributorsList.appendChild(listItem);
          });
        } catch (error) {
          console.error('Error fetching contributors:', error);
        }
      }
    
      fetchContributors();
    </script>
    <script>
      const form = document.getElementById("form");
      const sheets = document.getElementById("sheets");
      const classes = document.getElementById("classes");
      const optgrps = classes.getElementsByTagName("optgroup");
      const defaultClass = classes.querySelector(".default-class");
      const save = document.querySelector(".save");

      function renderLinks() {
        const savedUrls = localStorage.getItem("urls");
        //first delete any li in ul
        const savedList = document.querySelector(".saved-list");
        while (savedList.firstChild) {
          savedList.removeChild(savedList.firstChild);
        }
        if (savedUrls) {
          const urls = JSON.parse(savedUrls);
          urls.forEach((url) => {
            const a = document.createElement("a");
            a.href = url.url;
            a.innerText = url.classname;
            a.classList.add("list-group-item");
            a.classList.add("list-group-item-action");
            a.classList.add("text-primary");
            savedList.appendChild(a);
          });
        }
      }

      renderLinks();

      save.addEventListener("click", (e) => {
        e.preventDefault();
        const sheet = sheets.options[sheets.selectedIndex].value;
        const classname = classes.options[classes.selectedIndex].value;
        if (sheet === "-1" || classname === "-1") {
          alert("Please select a valid option");
          return;
        }
        const url = {
          url: `https://timetable.mlsctiet.com/timetable?sheet=${sheet}&classname=${classname}`,
          classname,
        };

        //save this url in an array in localstorage with max 3 urls in array at a time
        let urls = localStorage.getItem("urls");
        if (urls) {
          urls = JSON.parse(urls);
          if (urls.length < 5) {
            urls.push(url);
            localStorage.setItem("urls", JSON.stringify(urls));
          } else {
            urls.shift();
            urls.push(url);
            localStorage.setItem("urls", JSON.stringify(urls));
          }
        } else {
          urls = [url];
          localStorage.setItem("urls", JSON.stringify(urls));
        }
        renderLinks();
      });

      sheets.addEventListener("change", (e) => {
        const sheet = sheets.options[sheets.selectedIndex].value;
        showClass(sheet);
      });
      
      function showClass(sheet) {
        if (sheet === "-1") {
          defaultClass.selected = true;
        }
        for (let i = 0; i < optgrps.length; i++) {
          const optgrp = optgrps[i];
          if (optgrp.label.trim() === sheet.trim()) {
            optgrp.style.display = "block";
          } else {
            optgrp.style.display = "none";
          }
        }
      }

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const sheet = sheets.options[sheets.selectedIndex].value;
        const classname = classes.options[classes.selectedIndex].value;
        if (sheet === "-1" || classname === "-1") {
          alert("Please select a valid option");
          return;
        }
        window.location.href = `/timetable?sheet=${sheet}&classname=${classname}`;
      });
    </script>
  </body>
</html>
