<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Time Table Generator</title>
    <meta name="title" content="Time Table Generator" />
    <meta
      name="description"
      content="Quick Time Table Generator for Thapar University Students"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://timetable.mlsctiet.com/" />
    <meta property="og:title" content="Time Table Generator" />
    <meta
      property="og:description"
      content="Quick Time Table Generator for Thapar University Students"
    />
    <meta
      property="og:image"
      content="https://www.utkarsh.ninja/favicon-32x32.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://timetable.mlsctiet.com/" />
    <meta property="twitter:title" content="Time Table Generator" />
    <meta
      property="twitter:description"
      content="Quick Time Table Generator for Thapar University Students"
    />
    <meta
      property="twitter:image"
      content="https://www.utkarsh.ninja/favicon-32x32.png"
    />
    <link
      rel="shortcut icon"
      href="https://www.utkarsh.ninja/favicon-32x32.png"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Thapar Time Table</title>
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSECP1SFQX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SSECP1SFQX');
</script>
  <body class="bg-dark">
    <div class="container">
      <h2 style="text-align: center; margin: 2rem 0" class="text-success">
        View your Time Table
      </h2>
      <div
        class="card text-white"
        style="
          width: 60%;
          display: flex;
          flex-direction: columns;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          margin: 0 auto;
          background-color: #222222;
          border: 0px;
        "
      >
        <form id="form">
          <div class="form-group mt-4" style="padding: 1rem">
            <label for="sheets">Select Category</label>
            <select name="sheets" id="sheets"  class="dropdown btn btn-secondary dropdown-toggle" style="margin-left: 1em !important; width: 200px">
              <option value="-1" class="default dropdown-item" selected>
                Select a Category
              </option>
              {{range .Sheets}}
              <option class="dropdown-item" value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>

          
          <div class="form-group">
            <label for="classes">Select Class</label>
            <select
              name="classes"
              class="dropdown btn btn-secondary dropdown-toggle"
              id="classes"
              style="margin: 1rem; width: 200px"
            >
              <option value="-1" class="default-class" selected>
                Select a Class
              </option>
              {{range $a,$b := .Classes}}
              <optgroup label="{{$a}}">
                {{range $k,$v := .}}
                <option value="{{$k}}" data-class="{{$v}}">{{$v}}</option>
                {{end}}
              </optgroup>
              {{end}}
            </select>
          </div>
          <div class="mb-3">
          <input
            type="submit"
            value="Get Schedule"
            class="btn btn-primary"
            style="margin-right: 1rem"
          />
        </form>
        <button class="btn btn-outline-secondary text-light save">
          Save Class
        </button>
      </div>
        <div class="saved-urls container mb-4">
          <p class="text-lg" style="text-align: center">Saved Timetables</p>
          <ul class="saved-list bg-dark list-group"></ul>
        </div>
      </div>
    </div>
    <footer class="footer mt-2 mb-2 pb-2 pt-2 bg-dark">
      <p style="text-align: center" class="text-danger">
        Made by Utkarsh Tripathi &nbsp;
        <a href="https://github.com/utkarsh-1905" class="badge badge-success"
          >Github</a
        >
        <a
          href="https://www.linkedin.com/in/utkarsh-tripathi-80a0ab192/"
          class="badge badge-primary"
          >Linkedin</a
        >
        <a href="https://utkarsh.ninja" class="badge badge-dark">Website</a>
      </p>
      <p style="text-align: center" class="text-warning">
        Don't forget to star the project
        <a
          href="https://github.com/utkarsh-1905/time-table"
          class="badge badge-warning badge-pill"
          >here</a
        >
      </p>
      <p style="text-align: center" class="text-danger">
        Raise an issue for this project
        <a
          href="https://github.com/utkarsh-1905/time-table/issues"
          class="badge badge-danger badge-pill"
          >here</a
        >
      </p>
    </footer>
    <script>
      const form = document.getElementById("form");
      const sheets = document.getElementById("sheets");
      const classes = document.getElementById("classes");
      const optgrps = classes.getElementsByTagName("optgroup");
      const defaultClass = classes.querySelector(".default-class");
      const save = document.querySelector(".save");

      function renderLinks() {
        const savedUrls = localStorage.getItem("urls");
        //first delete any li in ul
        const savedList = document.querySelector(".saved-list");
        while (savedList.firstChild) {
          savedList.removeChild(savedList.firstChild);
        }
        if (savedUrls) {
          const urls = JSON.parse(savedUrls);
          urls.forEach((url) => {
            const a = document.createElement("a");
            a.href = url.url;
            a.target = "_blank";
            a.innerText = url.classname;
            a.classList.add("list-group-item");
            a.classList.add("list-group-item-action");
            a.classList.add("text-primary");
            savedList.appendChild(a);
          });
        }
      }

      renderLinks();

      save.addEventListener("click", (e) => {
        e.preventDefault();
        const sheet = sheets.options[sheets.selectedIndex].value;
        const class_ = classes.options[classes.selectedIndex].value;
        if (sheet === "-1" || class_ === "-1") {
          alert("Please select a valid option");
          return;
        }
        const classname =
          classes.options[classes.selectedIndex].dataset["class"];
        const url = {
          url: `https://timetable.mlsctiet.com/timetable?sheet=${sheet}&class=${class_}&classname=${classname}`,
          classname,
        };

        //save this url in an array in localstorage with max 3 urls in array at a time
        let urls = localStorage.getItem("urls");
        if (urls) {
          urls = JSON.parse(urls);
          if (urls.length < 3) {
            urls.push(url);
            localStorage.setItem("urls", JSON.stringify(urls));
          } else {
            urls.shift();
            urls.push(url);
            localStorage.setItem("urls", JSON.stringify(urls));
          }
        } else {
          urls = [url];
          localStorage.setItem("urls", JSON.stringify(urls));
        }
        renderLinks();
      });

      sheets.addEventListener("change", (e) => {
        const sheet = sheets.options[sheets.selectedIndex].value;
        for (let i = 0; i < optgrps.length; i++) {
          const optgrp = optgrps[i];
          if (optgrp.label === sheet) {
            optgrp.style.display = "block";
          } else {
            hideOptGroup(optgrp);
          }
        }
        defaultClass.selected = true;
      });

      function hideOptGroup(optgroup) {
        optgroup.style.display = "none";
      }

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const sheet = sheets.options[sheets.selectedIndex].value;
        const class_ = classes.options[classes.selectedIndex].value;
        if (sheet === "-1" || class_ === "-1") {
          alert("Please select a valid option");
          return;
        }
        const classname =
          classes.options[classes.selectedIndex].dataset["class"];
        window.location.href = `/timetable?sheet=${sheet}&class=${class_}&classname=${classname}`;
      });
    </script>
  </body>
</html>
